   <!-- Stats Section -->
<section id="stats" class="stats section light-background">

   <div class="container">

      <div class="row gy-4 justify-content-center">

         <div class="col-lg-5">
            <div class="images-overlap">
               <img src="~/tema/assets/img/img_v_1.jpg" alt="student" class="img-fluid img-1" data-aos="fade-up">
            </div>
         </div>

         <div class="col-lg-4 ps-lg-5">
            <span class="content-subtitle">@ViewBag.SubTitle</span>
            <h2 class="content-title">@ViewBag.title</h2>
            <p class="lead">
               @ViewBag.Desciription1
            </p>
            <p class="mb-5">
               @ViewBag.Desciription2
            </p>
            <div class="row mb-5 count-numbers">

               <!-- Start Stats Item -->
               <div class="col-4 counter" data-aos="fade-up" data-aos-delay="100">
                  <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="@ViewBag.Number1" data-purecounter-duration="1" class="purecounter number"></span>
                  <span class="d-block">Kahvelerim</span>
               </div>
               <!-- End Stats Item -->
               <!-- Start Stats Item -->
               <div class="col-4 counter" data-aos="fade-up" data-aos-delay="200">
                  <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="@ViewBag.Number2" data-purecounter-duration="1" class="purecounter number"></span>
                  <span class="d-block">Kodlarım</span>
               </div>
               <!-- End Stats Item -->
               <!-- Start Stats Item -->
               <div class="col-4 counter" data-aos="fade-up" data-aos-delay="300">
                  <span data-purecounter-separator="true" data-purecounter-start="0" data-purecounter-end="@ViewBag.Number3" data-purecounter-duration="1" class="purecounter number"></span>
                  <span class="d-block">Projelerim</span>
               </div>
               <!-- End Stats Item -->

            </div>
         </div>

      </div>

   </div>
</section>
<!-- /Stats Section -->