
@model List<BlogPosts>
@{
    ViewData["Title"] = "BlogPost";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
   .shortened {
       max-width: 50px; /* İstediğiniz maksimum genişliği ayarlayın */
       white-space: nowrap; /* Metni tek satırda tut */
       overflow: hidden; /* Taşan metni gizle */
       text-overflow: ellipsis; /* Taşan metin için "..." ekle */
   }
</style>

<div class="row mb-2">
   <div class="col-lg-12">
      <div class="card">
         <div class="card-body">
            <h5 class="card-title mb-4">BlogPost İşlemleri</h5>
            <div class="table-responsive">
               <table class="table center-aligned-table">
                  <thead>
                     <tr class="text-primary">
                        <th>Sıra</th>
                        <th >ImgUrl</th>
                        <th >Url</th>
                        <th>Eklenme Tarihi</th>
                        <th>Link Adı</th>
                        <th>Başlık</th>
                        <th>Ekip ImgUrl</th>
                        <th>AdSoyad</th>
                        <th>Unvan</th>
                        <th>İşlemler</th>
                     </tr>
                  </thead>
                  <tbody>
                     @{
                        var count = 0;
                     }
                     @foreach(var item in Model){
                        count++;
                        <tr class="">
                        <td>@count</td>
                           <td class="shortened">@item.Img</td>
                           <td class="shortened">@item.catTitle</td>
                        <td>@item.DateTitle</td>
                        <td>@item.HrefTitle</td>
                           <td class="shortened">@item.PTitle</td>
                           <td class="shortened">@item.TeamImg</td>
                        <td>@item.NameSurname</td>
                           <td>@item.Position</td>
                        <td><a href="#" class="btn btn-primary btn-sm">Güncelle</a></td>
                        <td><a href="#" class="btn btn-warning btn-sm">Detay</a></td>
                        <td><a href="#" class="btn btn-danger btn-sm">Sil</a></td>
                     </tr>
                     }
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>

